*
{
  margin:0px;

}

body
{
  background-color: black;
  color: azure;
  
}


/* *****************header****************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 113, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: #fff;
}

.logo img {
  width: 100px;
}

.nav ul {
  list-style: none;
  display: flex;
 
}

.nav ul li {
  margin-right: 50px;
}

.nav a {
  text-decoration: none;
  color: #fff;
}
.nav a:hover{
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.github-btn{
     background-color: rgb(189, 50, 207);
      border-radius:20px;
      overflow: hidden;
      width: 100px;
      height:30px;
      text-align: center;
  }
.github-btn a
{
  text-decoration: none;
  color: black;
  font-size:20px;
  font-family: gabriola;


}



/* *********************about********************* */

.about-section {
  padding: 40px;
  background-color:black;
  
}
.about-section h2
{
  color:blueviolet;
  font-family:gabriola;
  font-size:50px;
}
.heading
{
  background-color: aquamarine;
}
.about-section h3 {
  color: rgb(202, 43, 226);
  font-family: gabriola;
  font-size: 30px;
  margin-top: 0px;
}

.about-content {
  display: flex;
  align-items: center;
  
  
}

.intro-text {
  max-width: 600px;
  justify-content: center;
  margin-top: 10px;
  text-align:left;
  height: 100%;
  font-size: 20px;
  color: rgb(137, 137, 191);
}

.resume-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 50px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 113, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.photo
{
 
  margin-top: 0px;
  margin-left: 200px;
}
.photo img {
  max-width: 80%;
  height:300px;
  border-radius:90%;
  overflow: hidden;
}

@media screen and (max-width:1000px) {

  
  .about-section {
    padding: 20px;
  }

  .about-section h2 {
    font-size: 30px;
  }

  .about-section h3 {
    font-size: 20px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .intro-text {
    max-width: 100%;
    margin-top: 10px;
  }

  .resume-btn {
    margin-top: 20px;
  }

  .photo {
    margin-left: 0;
  }

  .photo img {
  margin-top: 50px;
  }
}

/* **********************************skill************************* */
.skills-section {
  padding: 40px;
  background-color: black;
}
.skills-section h1{
  font-family: gabriola;
  margin-left:520px;
  margin-bottom: 20px;
  color:rgb(202, 43, 226);
 
}
.skills-section p{
  color:rgb(175, 167, 167);
  font-size:25px;
  margin-left:250px;
  margin-bottom:30px;
}

.skill-box {
  display: flex;
  justify-content:space-between;
 
}

.category-box {
  width: 48%;
  border: 2px solid blueviolet;
  justify-content: center;
  text-align: center;
}
.category-box h2
{
  color: blueviolet;
  font-size:40px;
  font-family: gabriola;

}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
 
}

.skill {
  width:100px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  border: 2px solid #898a8b;
  padding: 15px;
  margin-left: 15px;
}
@media screen and (max-width:1000px) {
  .skills-section h1
  {
   color: rgb(202, 43, 226);
    margin-left: 320px;
  }
 
  
  }




/* ********************************projects**********************************/

.Projects h1
{
  margin-left:600px;
  color: rgb(202, 43, 226);
  font-size: 40px;
  font-family: gabriola;
}
.projects-container
{
  display: flex;
  flex-wrap: wrap;
}

.project-box {
  width: 100%;
  max-width: 300px;
  height:400px;
  margin: 20px;
  padding: 10px;
  margin-left: 70px;
  border: 1px solid #ccc;
  cursor: pointer;
  border: 2px solid blueviolet;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.project-box:hover {
  transform: scale(1.05);
}
.project-box h2{
  margin-left: 80px;
  margin-bottom: 10px;
  color:blueviolet;
}

.project-box h4 {
  margin-left: 90px;
  margin-bottom: 10px;
  color: rgb(137, 137, 191);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius:  15px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
}

.technology {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid blueviolet;
}

.description
{
  color: rgb(137, 137, 191);
}

.buttons 
{
  margin-top:10px;
}

@media screen and (max-width:1000px) {
  .Projects h1 {
    color: rgb(202, 43, 226);
    margin-left: 380px;
  }


}


/* **********detail project ********************/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  

}

.project-detail-modal {
  background-color: rgb(11, 10, 12);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-detail-modal h2 {
    margin-left: 350px;
    color: blueviolet;
    font-size: 22px;
    margin-bottom: 10px;
}

.project-detail-modal h4 {
   
    margin-left:355px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(137, 137, 191);
}
.project-detail-modal ul li
{
  color: rgb(137, 137, 191);
  font-size: 15px;
}
.project-detail-modal button {
  padding: 10px 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 113, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.project-detail-modal a{
  text-decoration: none;
  color:azure;
}

.project-detail-modal button:hover {
  background-color: #5b1361;
}


.detail-image {
  max-width: 55%;
  height:20%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 160px;
 
}

.detailed-technologies
{
  display: flex;
  flex-wrap: wrap;
}
.detailed-technology
{
 
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid blueviolet;
}

.buttons {
  display: flex;
  justify-content:space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .project-box {
    margin: 20px 0;
  }

  .project-details {
    margin: 20px 10px;
  }
}



/* ****************************education********************** */

.school {
  color: blueviolet;
  font-size:40px;
  font-family: gabriola;
  margin-bottom: 10px;
}
.education-section {
  width: 80%;
  margin: 0 auto;
 
}

.education-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
 
}

.education-item {
  flex: 1 0 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border: 2px solid blueviolet;
  font-size: 15px;
  color: rgb(137, 137, 191);
}
.education-section h2
{

    margin-left: 400px;
    color: rgb(202, 43, 226);
    font-size: 40px;
    font-family: gabriola;
  
}
.education-item p
{
  font-size: 24px;
}
.course
{
 color: rgb(137, 137, 191);
  font-size: 22px;
}

.school,
.course,
.grade,
.date {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
  .education-item {
    flex-direction: column;
  }
    
      .education-section h2 {
        color: rgb(202, 43, 226);
        margin-left: 300px;
      }
}
